<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hiconversion" sortOrder="10">
          <label>HiConversion</label>
        </tab>
        <section id="hiconversion" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>hiconversion</tab>
            <label>Configuration</label>
            <resource>Magento_Config::config</resource>
            <group id="configuration" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">           
                <label>Configuration</label> 
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="site_id" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Site ID</label>
                </field>
                 <field id="bn_code" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Build Notation Code</label>
                </field>
            </group>
        </section>
    </system>
</config>
